.gradient {
    -fx-background-color: linear-gradient(to bottom right, #3979a6, #4d8c7e);
}
.white-form {
    -fx-background-color: #fff;
}

.head-label {
    -fx-border-color: #286155;
    -fx-border-width: 0 0 0 3px;
    -fx-padding: 0 0 0 5px;
}
.login-btn {
    -fx-background-color: linear-gradient(to bottom right, #098c53, #4ea476);
    -fx-background-radius: 5px;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
}
.login-btn:hover {
    -fx-background-color: linear-gradient(to bottom right, #0fb565, #399a8f);
}
.textfield {
    -fx-background-color: #ffffff;
    -fx-border-color: linear-gradient(to bottom right, #3979a6, #4d8c7e);
    -fx-border-width: .5px;
}

.textfield:focused {
    -fx-background-color: #f0f0f0;
    -fx-border-width: 1px;
    -fx-border-color: linear-gradient(to bottom right, #3979a6, #4d8c7e);
}

.create-btn{
-fx-background-color: transparent;
fx-cursor: hand;
-fx-text-fill: #fff;
-fx-border-color: #fff;
-fx-border-width: 1px;
}

.create-btn: hover{
-fx-background-color: #fff;
-fx-text-fill: #000;
}